

.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.header{
    border-radius: 24px;

background: rgb(198, 228, 214);
width: 1280px;
height: 560px;
margin: 80px auto;
display: flex;
}
.new{
    padding-left: 50px;
    align-content: center;
    width: 600px;
    height: 330px;
    padding-top: 115px;
}
.savar{
    padding-right: 50px;
    padding-top: 80px;
}
.future{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: left;
}
.description{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
}
.gen{
    border-radius: 8px;

    background: rgb(0, 106, 80);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border: none;
padding: 17px 34px 17px 34px;
}

.gen:hover{
    background-color: blue;
}


/* section1 */
.father{
    display: flex;
    height: 325px;
    padding-top: 30px;
    
    gap: 20px;
    justify-content: space-between;

}
.mother{
    width: 1100px;
    height: 490px;
    margin: 80px auto;
   
}
.deatils{
    height: 110px;
    

}
.men{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.digita{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.you{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 5px;
letter-spacing: 0%;
text-align: left;
}
.four{
    box-sizing: border-box;
border-radius: 16px;

background: rgba(84, 144, 245, 0.2);
height: 350px;
width: 330px;
padding: 40px;
}
.five{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(198, 228, 214);
height: 350px;
width: 330px;
padding: 40px;
}
.six{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(247, 235, 207);
height: 350px;
width: 330px;
padding: 40px;
}
.seven{
    border-radius: 8px;

background: rgb(84, 144, 245);
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
border: none;
width: 120px;
height: 40px;
margin-top: 10px;

}
.seven:hover{
   background-color: chartreuse; 
}


.eight{
   
background: rgb(9, 161, 92);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
border: none;
width: 120px;
height: 40px;
margin-top: 25px;
border-radius: 8px;

}
.eight:hover{
    background-color: darkgreen;
}
.nine{
    border-radius: 8px;

background: rgb(255, 194, 57);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
border: none;
width: 120px;
height: 40px;
margin-top: 10px;
}
.nine:hover{
    background-color: indigo;
}

/* section3 start */
.mama{
    width: 1300px;
    height: 240px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
margin: 50px auto;


}
.bagna{
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
  

}
.famous{
    padding: 30px 30px;
}
.most{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

}
.nobel{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
text-align: left;
line-height: 1px;
}
.genius{
    color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
line-height: 1px;


}
/* section 3 start */
.satelite{
    width: 1280px;
    height: 450px;
    margin: 70px auto;
}
.good{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.super{
    height: 290px;
    width: 744px;
}
.power{
    height: 290px;
    width:410px;
}
.somoy{
    display: flex;
    gap: 20px;
}
.news{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
}
.best{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.become{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 1px;
letter-spacing: 0%;
text-align: left;
}
.better{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;

background: rgb(0, 106, 80);
border: none;
padding: 10px 20px 10px 20px;
margin-top: 13px;
}
.better:hover{
    background-color: cornflowerblue;
}
/* start last section */
.mango{
    width: 1100px;
    height: 460px;
    margin: 70px auto;
    padding: 40px 60px;
}
.apple{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.guava{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.small{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
height: 110px;
width: 250px;
}
.small:hover{
    background-color: royalblue;
}
.big{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(198, 228, 214);
height: 110px;
width: 250px;

}
.big:hover{
    background-color: red;
}
.goo{
    display: flex;
    gap: 30px;
    margin-top: 50px;
 
}
.little{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 2px;
    letter-spacing: 1px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 2px;
    
    background: rgb(255, 255, 255);
    height: 40px;
    width: 1000px;
    margin-top: 40px;
    margin-left: 40px;
}
.mona{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
border-radius: 8px;
background: rgb(0, 106, 80);
border: none;
padding: 10px 20px 10px 20px;
margin-top: 40px;
margin-left: 500px;
text-align: center;
}
.mona:hover{
    background-color: brown;
}
/* header part  */
.aboute{
    width: 1000px;
    height: 250px;
    background: rgb(198, 228, 214);
    margin: 50px auto;
    text-align: center;
    border-radius: 24px;
    padding: 50px 30px;
}
.abaa{
    display: flex;
    text-align: center;
    justify-content: center;
}
.ma{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: center;

}
.picci{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 30px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;

}
.babu{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
border-radius: 1px;
background: rgb(0, 106, 80);
border: none;
padding: 10px 20px 10px 20px;

text-align: center;
margin-top: 20px;

}
.babu:hover{
    background-color: midnightblue;
}
.moni{

    padding: 12px 150px;
    margin-top: 20px;
}
.raju{
    padding-left: 250px;
    padding-right: 250px;
}